<h1>Lines</h1>

<p>Here are all of the lines available:</p>
<ul><% @lines.each do |line| %>
  <li><%= line.name %></li>
<% end %>
</ul>

<div class='lower-link'>
<%= link_to "Click here to see all stations", stations_path %> |

<%= link_to "Click here to make a new line", new_line_path %>
</div>
