body {
  background-color: #EAD1C6;
  font-family: 'Oswald', sans-serif, #453E3A;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

h1  {
  text-decoration: underline;
}

.lower-link {
  margin-top: 10%;
}

a:link {
  color: #453E3A;
  text-decoration: none;
}

a:visited {
  color: #453E3A;
  text-decoration: none;
}

a:hover  {
  color: black;
}

a:active {
  color: #453E3A;
}


